 <!DOCTYPE html>
 <html lang="en">

 

  {% block body_block %}
{% endblock %}


    <!-- Footer --> 
    <nav class="nav navbar-inverse navbar-static-bottom footerNav">
        <div class="container-fluid"> 
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <h4 class="text-center"><a href="#">About Us</a></h4>
                    <!--<li><a href="#">About Us</a></li>
                        <li><a href="#">Team</a></li>
                        <li><a href="#">Site Map</a></li>
                    -->
                </div>
                <div class="col-xs-12 col-sm-4">
                    <h4 class="text-center"><a href="#">Contact Us</a></h4>
                    <!--<li><a href="#">Contact Us</a></li>
                        <li><a href="#">FAQs</a></li>
                        <li><a href="#">Feedback</a></li>
                    -->
                </div>
                <div class="col-xs-12 col-sm-4">
                    <h4 class="text-center"><a href="#">Terms & Policy</a></h4>
                        <!--<li><a href="#">Terms of Use</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Copyright Policy</a></li>
                        --> 
                </div>
            </div>  
        </div>
    </nav>  

 
  </html>